.container {
  display: flex;
}

.grid {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
}

.grid div {
  width: 32px;
  height: 32px;
}

.floor {
  background-image: url('img/floor.png');
}

.wall {
  background-image: url('img/wall.png');
}

.guy_in {
  background-image: url('img/worker_dock.png');
}

.guy {
  background-image: url('img/worker.png');
}

.dock {
  background-image: url('img/dock.png');
}

.box_in {
  background-image: url('img/box_docked.png');
}

.box {
  background-image: url('img/box.png');
}
